html{
  height: 100%;
}
body{
  height: 100%;
  font-family: PingFang SC;
}
table{
  border-collapse: collapse;
  }
//定义滚动条样式
::-webkit-scrollbar{
  width:6px;
}
::-webkit-scrollbar-track-piece{
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#DCD9DE;
  border-radius:6px;
}
::-webkit-scrollbar-thumb:hover {
  background:#EAE6EA;
}
//定位，显示
.flow-list{
  display: flex;
  flex-flow:row;
}
.in-b{
  display: inline-block;
}
.flex-item-3-empty{
  min-width: 30%;
  height: 0;
}
//位置
.ps-rel{
  position: relative;
}
//浮动
.f-r{
  float: right;
}
.f-l{
  float: left;
}
//宽高
.w-h-p-100{
 width: 100%;
 height: 100%;
}
.w-p-100{
  width: 100%
}
.w-p-10{
  width: 10%
}
.w-p-50{
  width: 50%
}
.h-22{
  height: 22px;
  line-height: 22px;
}
.h-25{
  height: 25px;
  line-height: 25px;
}
.h-40{
  height: 40px;
  line-height: 40px;
}
.h-50{
  height: 50px;
  line-height: 50px;
}
.h-60{
  height: 60px;
  line-height: 60px;
}
.height-40{
  height: 40px;
}
.height-45{
  height: 45px;
}
.height-50{
  height: 50px;
}
.height-55{
  height: 55px;
}
.height-60{
  height: 60px;
}
.height-65{
  height: 65px;
}
.h-p-100{
  height: 100%;
}
//边距
.ml-10{
  margin-left:10px;
}
.ml-15{
  margin-left:15px;
}
.ml-20{
  margin-left:20px;
}
.ml-30{
  margin-left:30px;
}
.ml-55{
  margin-left: 55px;
}
.mr-5{
  margin-right:5px;
}
.mr-10{
  margin-right:10px;
}
.mr-15{
  margin-right:15px;
}
.mr-20{
  margin-right:20px;
}
.mr-25{
  margin-right:25px;
}
.mr-30{
  margin-right:30px;
}
.mr-50{
  margin-right:50px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top:15px;
}
.mt-20{
  margin-top:20px;
}
.pt-20{
  padding-top:20px;
}
.p-l-15{
  padding-left:15px;
}
.p-l-20{
  padding-left:20px;
}
.p-h-5{
  padding: 0 5px;
}
.padd-h-20{
  padding: 0 20px;
}
.p-vh-2-3{
  padding: 2px 3px
}
//边框
.shadow-divider{
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .05);
}
.solid-divider{
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.border-radiu-bottom-5{
  border-radius:0 0 5px 5px;
}
.border-1-gray{
  border: 1px solid #C6C6C6;
}
//字体
.f-w-b{
  font-weight:bold;
}
.f-s-10{
  font-size: 10px;
}
.f-s-12{
  font-size: 12px;
}
.f-s-16{
  font-size: 16px;
}
.f-s-20{
  font-size: 16px;
}
.f-s-26{
  font-size: 26px;
}
.f-s-32{
  font-size: 32px;
}
//color
.c-danger{
  color: #D0021B
}
//背景
.bg-white{
  background-color:white;
}
@mixin center-bg($url){
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;
  background-image:url($url);
}
@mixin absoluteFullByTop($top){
  position: absolute;
  top: $top;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  background: #f3f3f3;
  overflow-y:auto;
}
//其它
.v-a-m{
  vertical-align: middle;
}
.mg-center{
  margin: 0 auto;
}
.hidden{
  display:none;
}
.ellips-txt{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.f-clear::after{
  content: "";
  display: block;
  height: 0px;
  width: 100%;
  clear: both;
}
//功能性
.selected-blue{
  background: #4A90E2;
  color: white;
}

