@import '../sass/variable.scss';
@import '../sass/adapter.scss';
@import '../sass/common.scss';
#app {
  font-family: 'PingFang SC','Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#virew-wrapper {
  height: 100%;
}
.index-body{
  position: absolute;
  left: 0;
  top: 70px;
  right: 0;
  bottom: 0;
}
.index-left-nav{
  width: 210px;
  height: 100%;
  background: #19172A;
}
.nav-item-selected{
  background: #4A90E2;
}
.index-Content{
  position: absolute;
  left: 210px;
  top: 0;
  right: 0;
  bottom: 0;
}
.left-nav-ct{
  padding: 15px 0px;
}
.nav-item{
  width: 190px;
  margin: auto;
  margin-top:20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  line-height: 45px;
  border-radius: 10px;
}
.swiper-container{
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-pagination-bullet{
  width: 10px;
  height: 10px;
}
.eca-dialog-header{
  color: white;
}
.content-wrapper {
  height: 100%;
  position: relative;
}
.eca-header{
  line-height: 70px;
  box-shadow: 0 3px 5px -5px rgb(0, 0, 0);
}
.eca-title>div{
  display: inline-block;
}
.eca-title{
  display: inline-block;
  line-height: 14px;
  vertical-align: middle;
  font-size: 13px;
  font-weight: bold;
}
.eca-logo{
  width: 24px;
  height: 24px;
  margin-right:5px;
  @include center-bg("../image/ecaLogo.png");
}
.user-profile-pic{
  width: 24px;
  height: 24px;
  margin-right:5px;
  display: inline-block;
  vertical-align: middle;
  @include center-bg("../image/ecaLogo.png");
}
.eca-content-section{
  position: relative;
  width: 1166px;
  margin: 0px auto;
}
.course-add-btn{
  position: absolute;
  top:36px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;

}
.class-filter{
  padding: 5px 0px
}
.filter-item{
  margin: 30px 0px;
}
.filter-category{
  margin-right:5px;
  font-size: 16px;
  font-weight: bold;
}
.category-name{
  &:hover{
    color: goldenrod;
    cursor: pointer;
  }
  min-width: 50px;
  line-height: 25px;
  margin-left:40px;
  padding: 1px 4px;
  text-align: center;
}
.class-filter-selected{
  background: rgb(0,0,0);
  color: white;
  border-radius: 3px;
}
.class-list{
  background: rgb(243,243,243);
  overflow-y: auto;
}
.class-list-ct{
  margin: 14px auto;
  font-size: 0;
}
.class-item{
  display: inline-block;
  line-height: 22px;
  margin-top: 24px;
  font-size: 12px;
  border-radius:6px;
  color: #A8ABAE;
  overflow:hidden;
  cursor: pointer;
}
.class-item-home{
  width: 218px;
}
.class-item-home .class-cover{
  border-radius:6px;
}
.class-item-addCourseDialog{
  width: 218px;
  background: white;
}
.class-item-addCourseDialog .class-cover{
  height: 140px;
}
.class-item:not(:last-child){
  margin-right:15px;
}
.class-cover{
  position: relative;
  height: 126px;
  background-color: gray;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.class-cover:hover>.course-handler-ct{
  display: block;
}
.course-handler-ct{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 126px;
  text-align: center;
  font-size: 24px;
  background: rgba(0, 0, 0, .6);
}
.course-handler-ct .course-handler-btn{
  &:hover{
    color: white;
  }
  padding: 0 10px;
}
.course-info-detail-ct{
  padding: 7px 10px;
}
.class-name{
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: #232732;
}
.pro-member-count>i{
  margin: 0 4px 0 12px;
}
.eca-logo{

}
.eca-location{

}
.city-name{

}
.eca-dialog-header .el-dialog__title{
  color: white;
}
.eca-dialog-header div.el-dialog__header{
  padding: 20px 30px;
  background: rgba(0,0,0,0.76);
  color: white;
}
.eca-dialog-header .el-dialog{
  border-radius:10px;
  overflow: hidden;
}
.eca-dialog-header div.el-dialog__header button i.el-icon-close{
  font-size: 20px;
}
.course-name{
  font-size: 40px;
  font-weight: bold;
  line-height: 56px;
  margin-bottom:15px;
  margin-left:15px;
}
.course-property .course-property-item{
  display: inline-block;
  padding: 0 15px;
  line-height: 22px;
}
.course-property .course-property-item:not(:last-child){
  border-right:1px solid lightgray;
}
.eca-dialog-header .el-dialog__body{
  padding: 0;
}
.course-info-dialog-body{
  min-height: 550px;
  margin: 25px 35px 25px 45px;
}
.course-info-left{
  width: 675px;
}
.course-info-right{
  width:310px;
}
.course-section-title{
  border-bottom: 1px solid #979797;
  padding: 12px 5px;
}
.course-section-info{
  border-bottom: 1px solid #C1BEBE;
  padding: 12px 5px;
}
.course-instructor-profile-picture{
  width: 67px;
  border-radius:50%;
}
.course-instructor-profile-info{
  display: inline-block;
  vertical-align: middle;
}
.section-num{
  margin-right:10px;
}
.label-blue{
  padding: 1px 5px;
  border-radius:10px;
  background:#4A90E2;
  color:white;
}
.course-info-carousel{
  width: 320px;
  height: 200px;
}
.addCourse-dialog-body{
  height: 800px;
}
.addCourse-dialog-body>div{
  overflow-y:scroll;
  overflow-x: hidden;
}
.add-course-left{
  width: 22%;
  padding: 0 18px;
  background-color:#DFE4E5;
}
.add-course-right{
  width: 78%;
  padding: 20px;
}
.tag-switch-bar{
  border-bottom:1px solid  #E1E1E1;
}
.tag-switch-bar span{
  &:hover{
    color: goldenrod;
  }
  margin: 0 14px;
  font-weight: bold;
  cursor: pointer;
}
.tag-selected{
  color: #4A90E2;
}
.course-entering-form .el-input-number--medium{
  width: 100%;
}
.course-entering-form .el-form--label-top .el-form-item__label{
  padding: 0;
}
.add-item-car{
  background-color: #fbfdff;
  border: 1px dashed #c0ccda;
  border-radius: 6px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.course-entering-add{
  width: 218px;
  height: 244px;
  line-height: 244px;
}
.course-section-add{
  width: 100%;
  height: 90px;
  line-height: 90px;
}
.section-add-item-ct{
  position: relative;
  min-height: 120px;
  padding:10px;
}
.course-section-remove{
  position: absolute;
  top: -19px;
  right: -9px;
  color: #e32d2d;
  font-size: 20px;
}
.section-name-input-ct{
  width: 200px;
}
.segment-name-input-ct{
  width: 720px;
}
.segment-name-input-ct input{
  padding-left:55px;
}
.segment-add-ct{
  position: absolute;
  color:#4A90E2;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}
.segment-num{
  position: absolute;
  height: 26px;
  line-height: 30px;
  left: 75px;
  margin-top:3.5px;
  color: #adb1b7;
  z-index: 1;
}
.real-Name-authenticated label{
  height: 35px;
}
.course-check-segmentInfo-ct{
  padding-left:50px;
  line-height: 28px;
  margin-top:4px;
}
.section-info-name{

}
.home-course-des{
  height: 42px;
}
// enrollment
.enrollment-table tr{
  border-top:1px solid  #e3e3e3;
  border-bottom:1px solid  #e3e3e3;
}
.enrollment-table .thead th{
  &:first-child{
    text-align: left;
    padding-left:28px;
  }
   height: 36px;
   text-align: center;
}
.enrollment-table .tbody td{
  &:first-child{
    text-align: left;
    padding-left:28px;
  }
  height: 60px;
  text-align: center
}
.content-type-filter-ct span{
  cursor: pointer;
}
.content-type-selected{
  color: #4A90E2;
}
